In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import correlation

In [20]:
folder = "files/"
w_sw = pd.read_csv(folder + "clusterized_tweets_without_stopwords.csv")
print(w_sw.shape)
w_sw.head()

(11924, 15)

,date,tweet,language,hashtags,cashtags,link,retweet,nlikes,nreplies,nretweets,reply_to,cluster_bow_default,cluster_bow_dbcv,cluster_tfidf_dbcv,cluster_word2vec_dbcv
0,2021-03-22 02:10:37,74 Going well Lot work extra 20 secs Isp,en,[],[],https://twitter.com/elonmusk/status/1373819373...,False,2678,234,134,"[{'screen_name': 'bluemoondance74', 'name': 'R...",8,0,2,1
1,2021-03-21 20:39:07,Hopefully happen decade,en,[],[],https://twitter.com/elonmusk/status/1373735946...,False,7967,535,570,"[{'screen_name': 'NASASpaceflight', 'name': 'C...",8,0,2,1
2,2021-03-21 08:42:00,True,en,[],[],https://twitter.com/elonmusk/status/1373555480...,False,15510,539,409,"[{'screen_name': 'newscientist', 'name': 'New ...",3,0,-1,5
3,2021-03-21 05:31:31,I accumulating resources help make life multip...,en,[],[],https://twitter.com/elonmusk/status/1373507545...,False,143476,10500,12483,"[{'screen_name': 'cleantechnica', 'name': 'Cle...",8,0,2,1
4,2021-03-21 04:32:11,When vast amounts manufacturing needed robotax...,en,[],[],https://twitter.com/elonmusk/status/1373492611...,False,6568,376,425,"[{'screen_name': 'CathieDWood', 'name': 'Cathi...",-1,0,-1,1